@primary-color : #79C3D2;
@accent-color : #1F497D;

@body : fadeout(@primary-color, 10%);;
@content-color : fade(#FFFFFF, 75%);

@hover-color : fade(@primary-color, 20%);

@primary-text : #143352;
@secondary-text: darken(@primary-text, 10%);
@disable-text: lighten(@primary-text, 10%);
