/**
 * Classes de estruturação do documento
 */

.container{
    width: 80%;
	margin:0 auto;
	text-align:left;
    background: @content-color;
    color: @secondary-text;
    .radius(10px);
    .darkshadow;
}

.darkshadow{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.radius(@r){
    -webkit-border-radius: @r;
    -moz-border-radius: @r;
    border-radius: @r;
}

.form-group{
    label{
        display: block;
        margin: 0px 0px 5px;
    }
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.center{
    text-align: center;
}

.hidden{
    visibility: hidden;
}

.radio{
    cursor: pointer;
};

.w5{
    width: 5% !important;
}
.w10{
    width: 10% !important;
}
.w20{
    width: 20% !important;
}
.w30{
    width: 30% !important;
}
.w40{
    width: 50% !important;
}
.w50{
    width: 50% !important;
}

.center{
    text-align: center !important;
}
